/*
DREAMCSS
=====================================================================  */

/* ------------------------------------------------------------------ */
/* a. Webfonts and Icon fonts
 ------------------------------------------------------------------ */

@import url("fonts.css");
@import url("fontello/css/fontello.css");
@import url("font-awesome/css/font-awesome.min.css");

/* ------------------------------------------------------------------
/* b. Dreamcss
/* ------------------------------------------------------------------ */

body {
	color:#ffffff;
  text-align: center;
}

.dreamradioButton {
	font-family:'FARRAY-Regular';
}

#activeRadioName {
	font-family:'FARRAY-Regular';
	color:#ffe6cc;
}

h1 {
	font-family:'FARRAY-Regular';
	color:#ffe6cc;
  text-shadow:
      1px 1px 2px rgb(0, 0, 0),
      0 0 1em rgb(0, 0, 0),
      0 0 0.2em rgba(0, 0, 255, 0.47);
}

h2 {
	font-family:'FARRAY-Regular';
  text-shadow:
      1px 1px 2px rgb(0, 0, 0),
      0 0 1em rgb(0, 0, 0),
      0 0 0.2em rgba(0, 0, 255, 0.47);
}

h3 {
	color:#ffffff;
	text-shadow:
      1px 1px 2px rgb(0, 0, 0),
      0 0 1em rgb(0, 0, 0),
      0 0 0.2em rgba(0, 0, 255, 0.47);
}

.smoothscroll {
	font-family:'FARRAY-Regular';
}

.notsmoothscroll {
	font-family:'FARRAY-Regular';
}
a {
	cursor: pointer;
}

/* ------------------------------------------------------------------
/* c. Hide all until page is loaded (display bugs)
/* ------------------------------------------------------------------ */

#hideAll
 {
   position: fixed;
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   background-color: white;
   z-index: 300; /* Higher than anything else in the document */

 }

 /* ------------------------------------------------------------------
/* dreamportrait on the left
/* ------------------------------------------------------------------- */
.dreamportrait {
    float: left
}
.dreamportrait img {
    display: block
}

.row {
    text-align: center;
    margin: 0 auto;
}

/* ------------------------------------------------------------------
/* Background video: 100% width and height to cover the entire window
/* ------------------------------------------------------------------- */
#myVideo {
  z-index: -2;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}


.mobile-vertical-video {
  object-fit: contain !important;
  width: 100vw !important;
  height: 100vh !important;
  left: 0;
  top: 0;
  position: fixed;
  background: #000;
  z-index: -1;
}

/* Center main content on mobile */
@media (max-width: 767px) {
  body, html {
    width: 100vw;
    overflow-x: hidden;
  }

  .banner-text,
  .main-col,
  .header-col {
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
    float: none !important;
    width: 100% !important;
    display: block !important;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
  }
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}